<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.better.app.hellocompose">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloCompose">
        <activity
            android:name=".StateHelloCounterActivity"
            android:exported="false" />
        <activity
            android:name=".ModifierSortActivity"
            android:exported="false" />
        <activity
            android:name=".UiModifierTouchEventActivity"
            android:exported="false" />
        <activity
            android:name=".UiModifierSizeDefaultActivity"
            android:exported="false" />
        <activity
            android:name=".UiModifierSize2Activity"
            android:exported="false" />
        <activity
            android:name=".UiBoxActivity"
            android:exported="false" />
        <activity
            android:name=".UiRowActivity"
            android:exported="false" />
        <activity
            android:name=".UiColumActivity"
            android:exported="false" />
        <activity
            android:name=".GeneralWidgetActivity"
            android:exported="false" />
        <activity
            android:name=".WatchStateActivity"
            android:exported="false" />
        <activity
            android:name=".ConstraintLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HelloCompose" />
    </application>

</manifest>