<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="better.hello">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- ======bugly===== s -->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->
    <!--&lt;!&ndash; <uses-permission android:name="android.permission.INTERNET"/> &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
    <!--<uses-permission android:name="android.permission.READ_LOGS"/>-->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- ======bugly===== e -->


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".http.download.DownLoadService"/>

        <receiver android:name=".reciver.NotificationClickReciver">
            <intent-filter android:priority="1">
                <action android:name="better.hello.notification.click"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="better.hello.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider"/>
        </provider>

        <activity android:name=".ui.MainActivity"/>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.news.detail.NewsPhotoDetailActivity"
            android:theme="@style/BlackTheme"/>
        <activity android:name=".ui.news.detail.NetEasyNewsDetailsActivity"/>
        <activity android:name=".ui.news.detail.NewsVideoActivity"/>
        <activity android:name=".ui.news.detail.NewsDetailsActivity"/>
        <activity android:name=".ui.aboutme.collect.CollectActivity">
        </activity>
        <activity android:name=".ui.news.channle.ChannelActivity">

        </activity>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>